*{
    margin: 0;
    padding: 0;
}

.game-character, .game-entity,.game-line{
    width: 2rem;
    height: 2rem;
    background-size: 49rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
.game-line{
    width: auto;
    display: flex;
}
.game-entity{
    background-size: 80rem;
    position: inherit;
}